{% extends 'main.html' %}

{% block content %}

<div class="container py-5">
    <h1 class="display-4  fw-bold">Flower Garden</h1>
    
    <a href="{% url 'create-flower' %}" class="text-decoration-none bg-warning text-dark badge px-3 py-2" >add flower</a>

    <hr>
    <div>
        {% for flower in flowers %}
        <div class="display-6">{{flower.name}} </div>
        <p class="lead">{{flower.description}}</p>
        <a href="{% url 'read-one-flower' flower.id  %}" class="text-decoration-none text-warning">see more > </a><br>
        <a href="{% url 'update-flower' flower.id  %}" class="text-decoration-none text-success">update flower > </a><br>
        <a href="{% url 'delete-flower' flower.id  %}" class="text-decoration-none text-danger">delete flower > </a>
      <br>  <span class="lead fs-6">CREATED AT: {{flower.created_at}}</span>
        <span class="lead fs-6">UPDATED AT: {{flower.updated_at}}</span>
        <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}